In [3]:
import pandas as pd

CSV_FILE = "ServiceParts.csv"

df = pd.read_csv(CSV_FILE)

#df = df.sort_values(['SvcId'])


#df = df.groupby(['SvcId'])[['Amount']].sum()

df.dtypes
#df.loc[0,'Amount']

SvcId          int64
Date          object
Name          object
Qty            int64
UnitPrice    float64
Disc         float64
Amount       float64
dtype: object

In [35]:
import pandas as pd

CSV_FILE = ['','']
CSV_FILE[0] = "ServiceMaster.csv"

svcid = 0
df = pd.read_csv(CSV_FILE[0])
#df.index.name = "Key"

# filter the dataframe to user input service id
df1 = df[df.SvcId == svcid]

# get the index value of user keyed in service id
index = next(iter(df1[df1['SvcId']==svcid].index), 'no match') 

df1.at[index, 'Amount'] = 100.00

df1

,SvcId,SvcDate,Model,Plate,Svc_Center,Mileage,Nxt_Mileage,Nxt_Date,Amount
0,0,27/03/2020,NaN,NaN,NaN,NaN,NaN,NaN,100.0